@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

:root {
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-boxgit;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section01, .section02 {
    width: 100%;
    display: flex;
}

.section01 {
    height: 65vh;
}

.div01 {
    height: 100%;
    width: 55%;
    background-image: url(../../images/desktop-image-hero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--White);
}

.menu {
    padding-left: 40px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu > h1 {
    font-size: 40px;
}

ul {
    display: flex;
    padding-left: 30px;
}
li {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

.div02 {
    position: relative;
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content01 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px;
}

.content01 > h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.content01 > p {
    margin-right: 50px;
    color: var(--Dark-Gray);
}

.content01 > .shop {
    margin-top: 20px;
    display: flex;
}

.arrow {
    margin-left: 30px;
}

.btn {
    background-color: var(--Black);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn > svg {
    cursor: pointer;
}

.section02 {
    height: 35vh;
}


.pic01, .pic02 {
    height: 100%;
    width: 30%;
}

.pic01 {
    background-image: url(../../images/image-about-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pic02 {
    background-image: url(../../images/image-about-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    height: 100%;
    width: 40%;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about > h1 {
    font-size: 20px;
}

.about > p {
    margin-top: 20px;
    color: var(--Dark-Gray);
    margin-right: 100px;
}

